fastapi[standard]
uvicorn[standard]==0.40.0

# Databas
sqlalchemy==2.0.46

# Utilities
python-dotenv==1.2.1
psycopg[binary]

requests==2.32.5
pyjwt==2.11.0
pwdlib[argon2]==0.3.0
python-multipart==0.0.22
slowapi==0.1.9
itsdangerous==2.2.0
resend==2.23.0
